.bloco {
    background-image: linear-gradient(to right, #ededdd 0%, #D4D3DD 51%, #EFEFBB 100%);
    background-size: 200% auto;
    border: solid 1px white;
    color: black;
    width: 97%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.expandido {
    background-image: radial-gradient(circle 321px at 8.3% 75.7%, rgba(249, 213, 213, 1) 0%, rgba(209, 247, 241, 1) 81%);
    align-items: center;
}

.bloco:hover {
    transform: scale(1.02);
    background-color: white;
    background-position: right center;
    /* transition: 0.5s; */
    transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out, background-position 0.5s;
}

.bloco:active {
    transform: scale(0.98);
}

.disponivel {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.disponivelExpandido {
    width: 50%;
    height: auto;
    display: block;
    text-align: justify;
}

.botaoEmprestar {
    background-color: black;
    width: 80%;
    margin-top: 10px;
}

.botaoEmprestar:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.botaoDevolver {
    background-color: red;
    width: 80%;
    margin-top: 10px;
}

.botaoDevolver:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.titulo {
    width: 50%;
    padding: 0px 5px;
}