.bloco {
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    border: solid 1px white;
    color: black;
    width: 97%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.expandido {
    background-image: radial-gradient(circle 321px at 8.3% 75.7%, rgba(249, 213, 213, 1) 0%, rgba(209, 247, 241, 1) 81%);
    align-items: center;
}

.bloco:hover {
    transform: scale(1.02);
    background-color: white;
    transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
}

.bloco:active {
    transform: scale(0.98);
}

.disponivel {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.disponivelExpandido {
    width: 50%;
    height: auto;
    display: block;
    text-align: justify;
}

.botaoEmprestar {
    background-color: black;
    width: 80%;
    margin-top: 10px;
}

.botaoEmprestar:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.botaoDevolver {
    background-color: red;
    width: 80%;
    margin-top: 10px;
}

.botaoDevolver:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.titulo {
    width: 50%;
    padding: 0px 5px;
}